.headLeft Button{
    background-color: transparent;
    /* justify-content: space-around; */
}
.headLeft Button:hover{
    /* backdrop-filter: blur(lg); */
    background-color: rgba(255, 255, 255, 0.1);
}
/*  className=" w-[35%] items-center ml-[12%] h-[100%] justify-evenly align-center " */

.headRight{
    width: 35%;
    align-items: center;
    margin-left: 12%;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}
/* // className="hover:backdrop-blur-sm hover:bg-white/10 h-10 w-32 items-center text-center rounded-md " */
/* .headRight>Box>Button{
    align-items: center;
    height: 100px;
    background-color: transparent;

} */
.menuDiv{
    /* display: flex-row; */
    border-radius: 8px;
    /* gap: 10px; */
}